@mixin pos {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left:0;
    top:0;
}
.cont{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    :global{
        .user{
            background:#2F4F4F;
            @include pos;
            z-index: 1;
            .header{
                line-height: 60px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .nav{
                width: 260px;
                height: calc(100% - 60px);
                overflow-y: auto;
                background:rgb(0,21,41);
            }
        }
        .routes{
            background:#0e0e0e;
            position: relative;
            @include pos;
            z-index: 2;
            transition: all .35s;
            .icons{
                user-select: none;
                position: absolute;
                left:0;
                top:0;
                z-index: 3;
                padding:15px;
                color:#DCDCDC;
                span{
                    outline: none;
                }
                svg{
                    outline: none;
                    border-color: transparent;
                    font-size:45px;
                    // color:#DCDCDC; 
                    transition: all .5s cubic-bezier(.57,.13,.94,.63);
                    opacity: 1;
                }
            }
            .fly{
                svg{
                    transform: rotate(180deg);
                    opacity: 0;
                }
            }
            .content{
                @include pos;
                z-index: 2;
            }
        }
        .open{
            transform: translateX(260px) translateY(60px);
        }
    }
}